.navbar-custom {
    background-color: rgba(0,0,0,0.3) !important; /*transparent !important;*/
    position: fixed; /* Cambiar de absolute a fixed */
    min-width: 100vw;
    font-size: 1rem;
    z-index: 1;
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
}

.navbar-brand {
    margin-left: 1%;
}

.navitems-custom {
    margin-right: 5%;
}

img {
    max-height: 80px;
}

.navbar-custom a {
    position: relative;
    color: white;
    background: linear-gradient(to right, white 50%, rgb(10, 200, 200) 50%);
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 1s ease, color 0.5s ease;
    text-decoration: none;
}

.navbar-custom a:hover {
    background-position: -100% 0;
    color: transparent; /* Ensure the gradient stays visible */
}

/* Active link styles */
.navbar-custom .active {
    background: none; /* Disable gradient */
    -webkit-text-fill-color: rgb(255, 0, 130); /* Set the text color */
}
