<div class="content-container">
  <div class="content">
    <div class="row row-titulo">
      <p class="font-barlow">DEAD MERMAID TATTOO</p>
      <h1 class="font-oswald">
        PORTAFOLIO -
        <small
          >BLACK WORK & <span class="pintar borders-black">COLOR</span></small
        >
      </h1>
      <br />
      <hr />
      <br />
    </div>
    <div class="container">
      @for (fila of filas; track $index) {
        <div class="row row-img">
          @for (imagen of fila; track $index) {
            <div class="col-sm-3">
              <img
                [src]="'/assets/portafolio/' + imagen.src"
                [alt]="imagen.descripcion"
                class="img-fluid"
                (click)="detalleImagen(imagen)"
              />
            </div>
          }
        </div>
      }
    </div>
  </div>
  @if (selectedImage) {
    <div class="fullscreen-overlay" (click)="closeFullScreen()">
      <div class="fullscreen-container">
        <img
          [src]="'/assets/portafolio/' + selectedImage"
          class="fullscreen-image"
          alt="fullscreenimg"
        />
        <button class="close-btn" (click)="closeFullScreen()">X</button>
      </div>
    </div>
  }
  <button (click)="enviarCorreo()">Enviar correo</button>
</div>
